<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SSLQ - {{item.name}}</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/shop-item.css" rel="stylesheet">



    <!-- Paypal -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
    <!--  -->


  </head>

  <body style="background-color: white; background-image: url(../static/img/BGShopItem.jpeg)">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: black; opacity: 30%;">
      <div class="container">
        <a class="navbar-brand" href="{{url_for('shop')}}">Back to shop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"">
              <a class="nav-link" href="{{url_for('home')}}">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('home')}}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('home')}}">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('home')}}">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <div class="col-lg-3">
          <h1 style="color:white" class="my-4">SSLQ</h1>
          <div class="list-group">
            <a href="#" class="list-group-item">Watches</a>
            <a style="color: grey" class="list-group-item">Coming soon.</a>
            <a style="color: grey" class="list-group-item">Coming soon.</a>
          </div>
        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

          <div class="card mt-4">
            <img style="width: 900;height: 400;" class="card-img-top img-fluid" src="{{url_for('static',filename=('uploads/1_' + item.cover))}}" alt="">
            <div class="card-body">
              <h3 class="card-title">{{item.name}}</h3>
              <!-- <img src="{{url_for('static', filename='uploads/1_'+ item.cover)}}"> -->
              <h4>${{item.price}}</h4>
              <p class="card-text">{{item.desc}}</p>
              <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
              4.0 stars
            </div>
          </div>
          <!-- /.card -->

          <br>

          <!-- Paypal Button -->
          <div align="center" id="paypal-button"></div>

          <script>
              paypal.Button.render({

                  env: 'sandbox', // 'production' || 'sandbox',

                  client: {
                      sandbox:    'AWI30FGFzWIXklUFVmU5QfjF4N5VAcrvS1NsiODKeF8-6OQD723udvYxfcoPRUxp1Byev1RzTGFpY11N',
                      production: 'ASCUN-KO0bqrIXJTVR-ATPDqnFNUvNvukLpaY9WxpE8x2-rDvMoLW32eGqBABJXDKcoEBrxggkFAIA8q'
                  },

                  commit: true, // Show a 'Pay Now' button

                  style: {
                      color: 'blue',
                      size: 'large'
                  },

                  payment: function(data, actions) {
                    return actions.payment.create({
                      payment: {
                        transactions: [
                        {
                          amount: { total: '{{item.price}}', currency: 'USD' }
                        }]
                      }
                    });
                  },

                  onAuthorize: function(data, actions) {
                    return actions.payment.execute().then(function() {
                      window.alert('Payment Complete!');
                    });
                  },

                  onCancel: function(data, actions) {
                      /* 
                       * Buyer cancelled the payment 
                       */
                  },

                  onError: function(err) {
                      /* 
                       * An error occurred during the transaction 
                       */
                  }

              }, '#paypal-button');
          </script>
          <!-- /Paypal Button -->


          <div class="card card-outline-secondary my-4">
            <div class="card-header">
              Product Reviews
            </div>
            <div class="card-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
              <small class="text-muted">Posted by Anonymous on 3/1/17</small>
              <hr>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
              <small class="text-muted">Posted by Anonymous on 3/1/17</small>
              <hr>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
              <small class="text-muted">Posted by Anonymous on 3/1/17</small>
              <hr>
              <a href="#" class="btn btn-success">Leave a Review</a>
            </div>
          </div>
          <!-- /.card -->

        </div>
        <!-- /.col-lg-9 -->

      </div>

    </div>
    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{url_for('static',filename='vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

  </body>

</html>
